* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right top, yellow, red, green);
  
}

#narrator {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font: 1rem Verdana;
}
h2 {
  font-family: inherit;
  margin-bottom: 10px;
}

#textarea {
  display: block;
  width: 100%;
  height: 12rem;
  padding: 10px;
  color: black;
  font: inherit;
}

#textarea::placeholder {
  color: #888;
  font-style: italic; 
  
}


.options {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 10px;
  padding: 20px 0;
  color: white;
}

#voice, option {
  font-size: 0.87rem;
  color: black;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

button {
  padding: 10px;
  color: #fff;
  background-color: #0009;
  font: inherit;
  font-size: 1.1rem;
  font-weight: bold;
}